## .NET
bin/
obj/
*.user
.vs/
*.suo
.idea/
*.DS_Store

## NuGet
*.nupkg
*.snupkg
project.lock.json
packages/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## Python
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/
build/
dist/
*.egg-info/

## JavaScript
node_modules/
js/dist/
js/node_modules/
